
header{

    background-color: rgb(0, 0, 0);

}
body
{
    background-color: rgb(255, 255, 255);

    display: flex;
    margin: 0;
    height: 130%;
    justify-content: space-between;
    flex-direction: column;
    
}
footer
{

    background-color: rgb(18, 184, 170);
    border: solid color(srgb rgb(14, 170, 157) rgb(19, 236, 19) rgb(24, 24, 223)) border;
}

main
{
    display: flex;
    background-color: rgba(0, 0, 0, 0.733);
    height: 120px;

}

h1, h2, h3, h4, h5, h6{

    margin: 0;
    padding: 30px 20px 20px 30px;
}

h2{

    text-align: center;
}

h1{

    text-align: center;
    
}


header h1{

    font-size: 70px;
  font-weight: 600;
  color: #9dff00cb;
  text-shadow: 0px 0px 5px #9dff00cb, 0px 0px 10px #9dff00cb, 0px 0px 10px #9dff00cb,
    0px 0px 20px #9dff00cb;
}

ol
{
    list-style: none;
}

a
{
    text-decoration: underline;
}

 main img {
    border: 3px solid #0a2161;



}

ul {

    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

html {
    height: 100%;
}


table
{
    margin-left: auto;
    margin-right: auto;
}


div.centered
{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 30px;
}
div.centered table
{
    margin: 0 auto;
    text-align: left;
}

div.wrapper 
{

    width: 80%;
    margin: 0 auto;
    padding: 30px;
    margin-right: 50px;
    

}

.h3-footer{

    display: flex;
    position: relative;
    bottom: 90px;


}

.footer-flex{
    display: flex;
    justify-content: right;
    align-items: baseline;


}



.circle{
    
    border-radius: 50%;
    display: block;

}

.gallery{

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;


}

.button{

    display: flex;
}



figcaption{
    margin: 0 auto 5px;
}



.form{

    width: 300px;
    height: 500px;
    padding: 32px;
    border-radius: 50px;
    box-shadow: 0 3px 10px #000000;
    background-color: rgb(255, 115, 0);

}

.main{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.input_button{
    border-radius: 10px;
    
   
}

.block2{

    margin: 8% 0;
}

.label{

    display: table-cell;
}

.form_title2{
    margin: 5% 0;
}